body {
    background: #3e4144;
}

#photodiv {

    margin-top: 150px;
    display: flex;
    justify-content: center;
}

#buttondiv {
    display: flex;
    justify-content: center;
    margin: 3rem 0px;
}

#update {
    background: green;


    text-align: center;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 100px;

    margin: 0px 1rem;
    border: none;
    font-size: 16px;
}

#remove {
    background: red;

    margin: 0px 1rem;
    text-align: center;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 100px;

    border: none;
    font-size: 16px;

}


#profileImg {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid;
    object-fit: cover;
}

#fileInput {
    /* width: 100%; */
    padding: 15px;


    border: 1px solid #ccc;
}

#filediv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -20px;
}